
.carousel-item{
    height: 500px;
} 

.carousel-item img{
    height: 500px;
  
header{
	background-color: #5cdb95; 
}

nav{
	background-color: #05386b;;
}

h2{
	color: #05386b;
}

footer{
	background-color: #05386b;
}

#main_logo{ 
	width: 50%;
	height: 25%;
}



/* Position the Popup form */
#login-popup {
	  display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
}

/* Hide the Popup form */
.form-popup {
	  border: 2px solid #666;
      z-index: 9;
      max-width: 300px;
      margin: 0 auto;
}

/* Styles for the form container */
.form-container {
max-width: 300px;
padding: 20px;
background-color: #fff;
}

/* Full-width for input fields */
.form-container input[type=text], .form-container input[type=password] {
width: 100%;
padding: 10px;
margin: 5px 0 22px 0;
border: none;
background: #eee;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
background-color: #ddd;
outline: none;
}

/* Style submit/login button */
.form-container .btn {
background-color: #8ebf42;
color: #fff;
padding: 12px 20px;
border: none;
cursor: pointer;
width: 100%;
margin-bottom:10px;
opacity: 0.8;
}

/* Style cancel button */
.form-container .cancel {
background-color: #cc0000;
}

/* Hover effects for buttons */
.form-container .btn:hover, .open-button:hover {
opacity: 1;
}